// colors
$bgColor: #212121;
$titleColor: #fff;
$color: #535353;
$yearColor: #b3b3b3;
$headerColor: #121212;

// typo
$fontFamily: 'Lato', sans-serif;
$fontSize: 22px;

// size
$cardHeight: 360px;
